html {
    font-size: 62.5%;
}

body {
    font-family: $font-family-main;
    color: $font-color-main;    
    @include font-size(1.6);

    @media screen and (min-width: 900px) {
         @include font-size(1.6);
    }

    @media screen and (min-width: 1200px) {
        @include font-size(1.6);
    }    
}

p {
    @include line-height(3.4);
    margin-bottom: 2em;
}

.vertical-center {
  display: flex;
  align-items: center;
}