// Font related variables
$font-family-main: "proxima-nova",sans-serif;
$font-color-main: #333;
$font-color-white: #fff;

$white: #fff;
$black: #000;
$grey: #e5e5e5;
$light-grey: #f6f6f6;
$dark-grey: #1d1d1b;
