/* =========================== */
/* ========== ABOUT ========== */
/* =========================== */
#about {
    background: #F6F6F6;
    padding: 80px 0;
}

#about p:last-of-type:after {
    display: block;
    content: "";
    background: #333;
    width: 100px;
    height: 1px;
    margin-top: 80px;
}