html {
    font-size: 62.5%;
}

body {
    font-family: $font-family-main;
    color: $font-color-main;    
    @include font-size(1.6);
    @include line-height(3.2);   
}

p {
    margin-bottom: 2em;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.section-title {
    @include font-size(3);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2em;
}