html {
    font-size: 62.5%;
}

body {
    font-family: $font-family-main;
    color: $font-color-main;    
    @include font-size(1.6);
    @include line-height(3.2);   
}

p {
    margin-bottom: 2em;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.section-title {
    @include font-size(3);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.apply-btn-white {
    display: inline-block;
    border: solid 2px $black;
    padding: 1em 3em;
    transition: background .3s, color .3s;

    @include font-size(2.2);
    font-weight: 500;
    text-transform: uppercase;
    color: $black;    

    &:hover,
    &:focus {
        background: $black;
        color: $white;
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}

.imgWrap {
    width: 100%;

    img {
        max-width: 100%;
        height: auto;
    }
}

.btn-black {
    padding: 1em 2em;
    border: solid 2px $black;
    transition: all .3s;
    text-transform: uppercase;

    &:link,
    &:visited {
        color: $black;
    }

    &:hover {
        background: $black;
        color: $white;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}