#intro {
    width: 100%;
    min-height: 100vh;
    background-color: $dark-grey;
    position: relative;
}

.intro-container {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;

    @media (max-width: 500px) {
        padding-top: 0;
    }
}

.intro-content {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.intro-title {
    font-weight: 700;
    color: $font-color-white;

    @media (min-width: 768px) {
        @include font-size(6);
        @include line-height(8);
        margin: 1.5em 0;     
    }

    @media (max-width: 768px) {
        @include font-size(3.5);
        @include line-height(5.5);
        margin: 1em 0;        
    }

    @media (max-width: 500px) {
        margin: 0.5em 0;        
    }   

}

.intro-scroll-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &:hover {
        text-decoration: none;
    }

    .intro-scroll-label {
        @include font-size(1.4);
        color: #fff;
        display: block;
        padding-bottom: 20px;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-left: solid 1px #fff;
            border-bottom: solid 1px #fff;
            transform: rotate(-45deg);
            left: calc(50% - 8px);
            animation: intro-learn-more 3s infinite;
        }

        @keyframes intro-learn-more {
            0% { bottom: 0px; }
            50% { bottom: 10px }
            100% { bottom: 0px }
        }
    }

    .intro-scroll-icon {
        display: inline-block;
        width: 30px;

        @media (max-width: 500px) {
            width: 20px;
        }
    }
}

.intro-btn {
    display: inline-block;
    padding: 1em 6em;
    border: solid 2px $white;
    border-radius: 0px;
    transition: background .3s, color .3s;
    color: $font-color-white;
}

.intro-btn:link,
.intro-btn:visited,
.intro-btn:focus {
    color: $font-color-white;
    text-decoration: none;
}

.intro-btn:hover {
    background: $white;
    color: $font-color-main;
    text-decoration: none;
}

.intro-circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    max-width: 50%;
}

.intro-triangle {
    position: absolute;
    bottom: 5%;
    left: 10%;
    z-index: 0;
    width: 50%;
    max-width: 600px;
}
