html {
  font-size: 62.5%; }

body {
  font-family: 'Open sans';
  color: #333;
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 900px) {
    body {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 16px;
      font-size: 1.6rem; } }

p {
  line-height: 34px;
  line-height: 3.4rem;
  margin-bottom: 2em; }

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section-title {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2em; }

.nav-compact {
  background: #333;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  max-height: 50px;
  display: none; }
  .nav-compact-container {
    height: inherit;
    max-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav-compact-logo {
    margin-right: auto;
    width: 50px;
    overflow: hidden; }
    @media (max-width: 400px) {
      .nav-compact-logo {
        width: 40px; } }
    .nav-compact-logo img {
      display: block;
      max-width: 100%;
      height: auto; }
  .nav-compact-list {
    margin-left: auto;
    list-style: none;
    padding: 0;
    margin: 0; }

.nav-main {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 500px) {
    .nav-main {
      height: 50px; } }
  .nav-main-logo {
    margin-right: auto;
    width: 150px;
    overflow: hidden; }
    @media (max-width: 500px) {
      .nav-main-logo {
        width: 50px; } }
    .nav-main-logo-full {
      display: block; }
      @media (max-width: 500px) {
        .nav-main-logo-full {
          display: none; } }
    .nav-main-logo-compact {
      display: none; }
      @media (max-width: 500px) {
        .nav-main-logo-compact {
          display: block; } }
    .nav-main-logo img {
      max-width: 100%;
      height: auto; }
  .nav-main-list {
    list-style: none;
    margin: 0;
    padding: 0; }

.nav-item {
  display: inline-block;
  position: relative;
  padding: 1em 0; }
  @media (max-width: 400px) {
    .nav-item {
      font-size: 14px;
      font-size: 1.4rem; } }

.nav-item:nth-of-type(2) {
  margin: 0 2em; }
  @media (max-width: 400px) {
    .nav-item:nth-of-type(2) {
      margin: 0 1.5em; } }

.nav-link:link,
.nav-link:visited,
.nav-link:hover {
  color: #fff;
  text-decoration: none; }

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1); }

.nav-link:before {
  content: "";
  display: inline-block;
  background: #fff;
  width: 100%;
  height: 2px;
  bottom: 0.5em;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  visibility: hidden; }

/* =========================== */
/* ========== INTRO ========== */
/* =========================== */
#intro {
  width: 100%;
  min-height: 100vh;
  background-color: #1d1d1b;
  color: #fff;
  position: relative; }

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 100; }
  @media (max-width: 500px) {
    .intro-container {
      padding-top: 0; } }

.intro-content {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center; }

.intro-title {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  margin: 0; }
  @media (min-width: 768px) {
    .intro-title {
      font-size: 60px;
      font-size: 6rem;
      line-height: 80px;
      line-height: 8rem;
      margin: 1.5em 0; } }
  @media (max-width: 768px) {
    .intro-title {
      font-size: 35px;
      font-size: 3.5rem;
      line-height: 55px;
      line-height: 5.5rem;
      margin: 1em 0; } }
  @media (max-width: 500px) {
    .intro-title {
      margin: 0.5em 0; } }

.intro-btn {
  display: inline-block;
  padding: 1em 6em;
  border: solid 2px #fff;
  border-radius: 0px;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s; }

.intro-btn:link,
.intro-btn:visited,
.intro-btn:focus {
  color: #fff;
  text-decoration: none; }

.intro-btn:hover {
  background: #fff;
  color: #333;
  text-decoration: none; }

.intro-circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  height: 100vh;
  max-width: 50%; }

.intro-triangle {
  position: absolute;
  bottom: 5%;
  left: 10%;
  z-index: 0;
  width: 50%;
  max-width: 600px; }

/* =========================== */
/* ========== ABOUT ========== */
/* =========================== */
#about {
  background: #F6F6F6;
  padding: 80px 0; }

#about p:last-of-type:after {
  display: block;
  content: "";
  background: #333;
  width: 100px;
  height: 1px;
  margin-top: 80px; }

/* =========================== */
/* ========= MEMBERS ========= */
/* =========================== */
#members {
  background: #E5E5E5;
  padding: 80px 0; }

.member-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column; }

@media (min-width: 768px) {
  .members-row {
    padding-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .company-logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 768px) {
  .members-row div[class^="col-"] {
    margin-bottom: 30px; } }

.members-row:last-of-type {
  padding-bottom: 0; }

.company-logo {
  width: 100%;
  max-width: 150px;
  height: auto; }

.member-panel {
  background: #fff;
  width: 100%;
  height: 100%;
  height: 115px;
  padding: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.member-panel:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* =========================== */
/* ========= CONTACT ========= */
/* =========================== */
#contact {
  background: #F6F6F6;
  padding: 80px 0; }

/* =========================== */
/* ========== FOOTER ========= */
/* =========================== */
footer {
  background: #333;
  padding: 20px 0;
  color: #fff;
  font-size: 0.8em;
  text-align: center; }

@media (min-width: 768px) {
  .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; } }

@media (max-width: 768px) {
  #map {
    margin-top: 3em; } }

.newsletter-title {
  margin-bottom: 0.5em; }

.newsletter-btn {
  display: inline-block;
  padding: 10px 15px;
  color: #333;
  border: solid 2px #333;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s; }

.newsletter-btn:hover {
  text-decoration: none;
  background: #333;
  color: #fff; }

#map {
  height: 100%;
  min-height: 250px;
  width: 100%; }

.email-link,
.phone-link {
  position: relative;
  display: inline-block;
  padding-left: 2em;
  color: #333;
  margin-bottom: 0.5em; }

.email-link:hover,
.phone-link:hover {
  text-decoration: none;
  color: #333; }

.email-link:before,
.phone-link:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1em;
  padding-right: 1em;
  position: absolute;
  left: 0; }

.email-link:before {
  content: "\f003"; }

.phone-link:before {
  content: "\f095"; }
